body {
  background-image: url("tictactoe-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.square {
  height: 80px;
  width: 80px;
  font-size: 45pt;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.349);
}

#player-one {
  color: orange;
  font-weight: bold;
}
#name {
  border: 1px solid black;
  border-radius: 4px;
}

#player-two {
  color: orange;
  font-weight: bold;
  position: relative;
  left: 900px;
}
#name2 {
  border: 1px solid black;
  border-radius: 4px;
}

.game-board {
  width: 270px;
  margin: 0 auto 45px auto;
  position: relative;
  bottom: 300px;
}
.game-header {
  padding-top: 32px;
  position: relative;
  bottom: 305px;
}

.header {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 166, 0);
  padding-top: 24px;
  font-family: "Butcherman", cursive;
  font-size: 45pt;
}

.message {
  text-align: center;
  color: rgb(255, 166, 0);
  font-family: "Sancreek", cursive;
  font-size: 16pt;
}

#start-over {
  text-decoration: none;
  color: black;
  font-family: "Sancreek", cursive;
  font-size: 18pt;
}

#button {
  background-color: orange;
  text-decoration: none;
  color: black;
  font-family: "Sancreek", cursive;
  font-size: 18pt;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  padding: 6px;
  position: relative;
  left: 73px;
}

.pumpkin {
  background-image: url("pumpkin.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.skull {
  background-image: url("skulls.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#pumpkin-choice {
  width: 75px;
  padding-left: 45px;
  padding-bottom: 24px;
}

#skull-choice {
  width: 75px;
  padding-left: 45px;
  padding-bottom: 12px;
}
.choice-header {
  color: black;
  background-color: orange;
  font-family: "Sancreek", cursive;
  text-align: center;
  height: 45px;
  position: relative;
  bottom: 21px;
}

.images {
  width: 200px;
  position: relative;
  top: 290px;
  left: 150px;
}

.card {
  background-color: rgba(255, 255, 255, 0.349);
  border: 2px solid black;
  border-radius: 4px;
}

.choosing-images {
  position: relative;
  left: 15px;
}
