body {
  background-image: url("tictactoe-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.square {
  height: 80px;
  width: 80px;
  font-size: 45pt;
  text-align: center;
}

#player-one {
  color: orange;
  font-weight: bold;
}
#name {
  border: 1px solid black;
  border-radius: 4px;
}

#player-two {
  color: orange;
  font-weight: bold;
  position: relative;
  left: 900px;
}
#name2 {
  border: 1px solid black;
  border-radius: 4px;
}

.game-board {
  padding-top: 24px;
  width: 270px;
  margin: 0 auto 0 auto;
}

.header {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 166, 0);
}

.message {
  text-align: center;
  color: rgb(255, 166, 0);
}

#start-over {
  text-decoration: none;
  color: black;
  font-size: 18pt;
}

#button {
  background-color: orange;
  border: 1px solid black;
  margin-top: 16px;
  padding: 6px;
  position: relative;
  left: 73px;
}
